.film-box {
  display: flex;
  flex-shrink: 0;
  width: 15vw;
  height: 40vh;
  margin-bottom: 2vh;
  cursor: pointer;
  transition: 0.2s;

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    filter: grayscale(30%);
  }

  &__img:hover {
    filter: grayscale(0%);
  }
}

.film-box:hover {
  transform: scale(1.05);
}
